<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shopping.dao.AddressMapper">
  <resultMap id="BaseResultMap" type="com.example.shopping.Entity.Address">
    <id column="addressID" jdbcType="INTEGER" property="addressid" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="detailAddr" jdbcType="VARCHAR" property="detailaddr" />
    <result column="conName" jdbcType="VARCHAR" property="conname" />
    <result column="conTel" jdbcType="VARCHAR" property="contel" />
  </resultMap>
  <sql id="Base_Column_List">
    addressID, userId, province, city, county, detailAddr, conName, conTel
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from address
    where addressID = #{addressid,jdbcType=INTEGER}
  </select>
  <select id="findAllById" resultType="com.example.shopping.Entity.Address">
    select * from address where userId=#{id}
  </select>
    <select id="findAllByAid" resultType="com.example.shopping.Entity.Address">
      select  * from address where addressID=#{addressid}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from address
    where addressID = #{addressid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.shopping.Entity.Address">
    insert into address (addressID, userId, province, 
      city, county, detailAddr, 
      conName, conTel)
    values (#{addressid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{county,jdbcType=VARCHAR}, #{detailaddr,jdbcType=VARCHAR}, 
      #{conname,jdbcType=VARCHAR}, #{contel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.shopping.Entity.Address">
    insert into address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="addressid != null">
        addressID,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="county != null">
        county,
      </if>
      <if test="detailaddr != null">
        detailAddr,
      </if>
      <if test="conname != null">
        conName,
      </if>
      <if test="contel != null">
        conTel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="addressid != null">
        #{addressid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="detailaddr != null">
        #{detailaddr,jdbcType=VARCHAR},
      </if>
      <if test="conname != null">
        #{conname,jdbcType=VARCHAR},
      </if>
      <if test="contel != null">
        #{contel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.shopping.Entity.Address">
    update address
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        county = #{county,jdbcType=VARCHAR},
      </if>
      <if test="detailaddr != null">
        detailAddr = #{detailaddr,jdbcType=VARCHAR},
      </if>
      <if test="conname != null">
        conName = #{conname,jdbcType=VARCHAR},
      </if>
      <if test="contel != null">
        conTel = #{contel,jdbcType=VARCHAR},
      </if>
    </set>
    where addressID = #{addressid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.shopping.Entity.Address">
    update address
    set userId = #{userid,jdbcType=INTEGER},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      county = #{county,jdbcType=VARCHAR},
      detailAddr = #{detailaddr,jdbcType=VARCHAR},
      conName = #{conname,jdbcType=VARCHAR},
      conTel = #{contel,jdbcType=VARCHAR}
    where addressID = #{addressid,jdbcType=INTEGER}
  </update>
</mapper>