<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shopping.dao.IndentMapper">
  <resultMap id="BaseResultMap" type="com.example.shopping.Entity.Indent">
    <id column="orderId" jdbcType="INTEGER" property="orderid" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="orderTime" jdbcType="TIMESTAMP" property="ordertime" />
    <result column="oldPrice" jdbcType="REAL" property="oldprice" />
    <result column="newPrice" jdbcType="REAL" property="newprice" />
    <result column="isPay" jdbcType="BIT" property="ispay" />
    <result column="isSend" jdbcType="BIT" property="issend" />
    <result column="isReceive" jdbcType="BIT" property="isreceive" />
    <result column="isComplete" jdbcType="BIT" property="iscomplete" />
    <result column="addressId" jdbcType="INTEGER" property="addressid" />
  </resultMap>
  <sql id="Base_Column_List">
    orderId, userId, orderTime, oldPrice, newPrice, isPay, isSend, isReceive, isComplete, 
    addressId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from indent
    where orderId = #{orderid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from indent
    where orderId = #{orderid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.shopping.Entity.Indent">
    insert into indent (orderId, userId, orderTime, 
      oldPrice, newPrice, isPay, isSend, 
      isReceive, isComplete, addressId
      )
    values (#{orderid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{ordertime,jdbcType=TIMESTAMP}, 
      #{oldprice,jdbcType=REAL}, #{newprice,jdbcType=REAL}, #{ispay,jdbcType=BIT}, #{issend,jdbcType=BIT}, 
      #{isreceive,jdbcType=BIT}, #{iscomplete,jdbcType=BIT}, #{addressid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.shopping.Entity.Indent">
    insert into indent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        orderId,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="ordertime != null">
        orderTime,
      </if>
      <if test="oldprice != null">
        oldPrice,
      </if>
      <if test="newprice != null">
        newPrice,
      </if>
      <if test="ispay != null">
        isPay,
      </if>
      <if test="issend != null">
        isSend,
      </if>
      <if test="isreceive != null">
        isReceive,
      </if>
      <if test="iscomplete != null">
        isComplete,
      </if>
      <if test="addressid != null">
        addressId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="ordertime != null">
        #{ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="oldprice != null">
        #{oldprice,jdbcType=REAL},
      </if>
      <if test="newprice != null">
        #{newprice,jdbcType=REAL},
      </if>
      <if test="ispay != null">
        #{ispay,jdbcType=BIT},
      </if>
      <if test="issend != null">
        #{issend,jdbcType=BIT},
      </if>
      <if test="isreceive != null">
        #{isreceive,jdbcType=BIT},
      </if>
      <if test="iscomplete != null">
        #{iscomplete,jdbcType=BIT},
      </if>
      <if test="addressid != null">
        #{addressid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.shopping.Entity.Indent">
    update indent
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="ordertime != null">
        orderTime = #{ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="oldprice != null">
        oldPrice = #{oldprice,jdbcType=REAL},
      </if>
      <if test="newprice != null">
        newPrice = #{newprice,jdbcType=REAL},
      </if>
      <if test="ispay != null">
        isPay = #{ispay,jdbcType=BIT},
      </if>
      <if test="issend != null">
        isSend = #{issend,jdbcType=BIT},
      </if>
      <if test="isreceive != null">
        isReceive = #{isreceive,jdbcType=BIT},
      </if>
      <if test="iscomplete != null">
        isComplete = #{iscomplete,jdbcType=BIT},
      </if>
      <if test="addressid != null">
        addressId = #{addressid,jdbcType=INTEGER},
      </if>
    </set>
    where orderId = #{orderid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.shopping.Entity.Indent">
    update indent
    set userId = #{userid,jdbcType=INTEGER},
      orderTime = #{ordertime,jdbcType=TIMESTAMP},
      oldPrice = #{oldprice,jdbcType=REAL},
      newPrice = #{newprice,jdbcType=REAL},
      isPay = #{ispay,jdbcType=BIT},
      isSend = #{issend,jdbcType=BIT},
      isReceive = #{isreceive,jdbcType=BIT},
      isComplete = #{iscomplete,jdbcType=BIT},
      addressId = #{addressid,jdbcType=INTEGER}
    where orderId = #{orderid,jdbcType=INTEGER}
  </update>
</mapper>